@import './_variables.css';

@import './_base.css';

@import './_utility.css';

@import '/components/header.css';

@import '/components/buttons.css';

.interests {
  background: var(--interests);
}

.social {
  align-content: space-between;
  margin: 10px;
  text-decoration: none;
}

.bio {
  background: --secondary;
}

.social_out {
  background: --secondary;
}

.image-fluid {
  height: auto;
  margin: 10px 0;
  width: 100%;
}
