.button__light {
  background: var(--primary);
  border-bottom: none;
  border-radius: 5px;
  color: var(--font);
  padding: 8px;
}

.button__dark {
  background: var(--section);
  border-bottom: none;
  border-radius: 5px;
  color: var(--font);
  padding: 8px;
  width: max-content;
}
